@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before {
    color: rgb(53, 53, 53) !important;
}
.slick-next:before {
    color: rgb(53, 53, 53) !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}