@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-body;
    }

    @screen lg {
        body {
            @apply text-body-lg;
        }
    }
}

@layer components {
    @responsive {
        .text-shadow {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .text-shadow-md {
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 2px 4px rgba(0, 0, 0, 0.09);
        }

        .text-shadow-lg {
            text-shadow: 0 15px 30px rgba(0, 0, 0, 0.3),
                0 5px 15px rgba(0, 0, 0, 0.18);
        }

        .text-shadow-none {
            text-shadow: none;
        }
    }
}

body {
    margin-bottom: 0 !important;
}

.slick-prev:before {
    color: rgb(53, 53, 53) !important;
}
.slick-next:before {
    color: rgb(53, 53, 53) !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none !important;
}

#nprogress .bar {
    background: #3464a8;
    background: linear-gradient(
        90deg,
        rgba(0, 212, 255, 1) 0%,
        rgba(59, 130, 246, 1) 100%
    );
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;
}
